<div>
  <h1>ABOUT SYNERGITSTIC LEADERSHIP THEORY</h1>
  <div>
    <div>
      <h2>Leadership Diversity</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Nulla porttitor massa id neque aliquam vestibulum. Sed egestas egestas fringilla phasellus. Eros donec ac odio tempor orci dapibus. Nam libero justo laoreet sit. Quis auctor elit sed vulputate mi sit amet mauris. Nulla malesuada pellentesque elit eget. Volutpat lacus laoreet non curabitur gravida arcu ac tortor dignissim. Eu consequat ac felis donec et odio pellentesque. Egestas egestas fringilla phasellus faucibus scelerisque eleifend donec pretium.</p>
    </div>
    <div>
      <h2>The Four Factors and the Tetrahedron</h2>
      <p>Sit amet nisl suscipit adipiscing bibendum est ultricies integer. Nunc id cursus metus aliquam eleifend. Purus faucibus ornare suspendisse sed nisi lacus. Sagittis vitae et leo duis ut diam quam nulla porttitor. Vulputate ut pharetra sit amet aliquam. Eget magna fermentum iaculis eu non diam phasellus vestibulum lorem. Volutpat sed cras ornare arcu dui vivamus arcu.</p>
      <%= image_tag("https://upload.wikimedia.org/wikipedia/commons/7/70/Tetrahedron.gif", style: "width:400px;" ) %>
      <p>Id eu nisl nunc mi ipsum faucibus vitae aliquet nec. Natoque penatibus et magnis dis parturient montes nascetur ridiculus mus. Id cursus metus aliquam eleifend mi. Id neque aliquam vestibulum morbi blandit cursus risus. Scelerisque in dictum non consectetur a erat nam at.</p>
    </div>
  </div>
</div>