<!-- app/views/home/index.html.erb -->

<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>
<h1>Welcome to My Rails App</h1>
<p>This is the custom home page of your application.</p>

<h1><%= greeting_message %>, welcome to My Rails App</h1>

<div class="bg-aggie-maroon text-white">My name is aggie bo2sxxx</div>
