<h1 class="text-center">ORGANIZATIONAL AND LEADERSHIP EFFECTIVENESS INVENTORY</h1>
<%# <%= render "form", survey_response: @survey_response, survey_sections: @survey_sections%>
<%= render partial: 'paginated_form', locals: {
        pagination: @pagination,
        response: @survey_response,
        sections: @survey_sections
    }
%>