<h1>ORGANIZATIONAL AND LEADERSHIP EFFECTIVENESS INVENTORY</h1>
<%= render "form", survey_response: @survey_response %>
<%# <div> %>
<%# <%= link_to "Back to survey responses", survey_responses_path %>
<%# </div> %>
