<h1>ORGANIZATIONAL AND LEADERSHIP EFFECTIVENESS INVENTORY</h1>
<div>
  <div>
    <h2>Overview</h2>
    <p>The questionaire has a total of 96 questions split into 4 parts:</p>
    <ol>
      <li>Part 1: Leadership Behavior (Management and Interpersonal)
      </li>
      <li>Part 2: External Forces
      </li>
      <li>Part 3: Organizational Structure
      </li>
      <li>Part 4: Values, Attitudes, and Beliefs
      </li>
    </ol>
  </div>
  <br>
  <p>For each question, select the response that best fits your judgement.</p>
  <br>
  <div>
    <h2>OLEI Background</h2>
    <p>By completing this questionaire, you agree to [terms tbd].</p>
    <%= render "form", survey_profile: @survey_profile %>
    <br>
    <%# <div> %>
    <%# <%= link_to "Back to survey profiles", survey_profiles_path %>
    <%# </div> %>
  </div>
</div>
