<h1>You've been invited to take a survey</h1>
<p>You were invited by <%= @invitation.parent_response.profile.first_name %> <%= @invitation.parent_response.profile.last_name %>.</p>
<p>
  <% if session[:userinfo] && session[:invitation] %>
	<%= button_to "Take the Survey", edit_survey_response_path(@new_response_to_fill), method: :get, class: 'button-class' %>
  <% else %>
    <%= button_to 'Take the Survey', '/auth/auth0', method: :post, data: { turbo: false }, class: "button-class" %>
  <% end %>
</p>