<%= stylesheet_link_tag "application.css"%>

<h2>Hello ELRC Group on Heroku!</h2>
<p>
  The time is now: <%= Time.now %>
</p>
<table border="1"> <!-- Adding a border for visualization -->
  <tr>
    <th>Column 1</th>
    <th>Column 2</th>
    <th>Column 3</th>
  </tr>
  <tr>
    <td>Row 2, Cell 1</td>
    <td>Row 2, Cell 2</td>
    <td>Row 2, Cell 3</td>
  </tr>
  <tr>
    <td>Row 3, Cell 1</td>
    <td>Row 3, Cell 2</td>
    <td>Row 3, Cell 3</td>
  </tr>
</table>
<button class="button-bootstrap-like">Button</button>