<div id="<%= dom_id survey_question %>">
  <p>
    <strong>Question text:</strong>
    <%= survey_question.text %>
  </p>

  <p>
    <strong>Explanation:</strong>
    <%= survey_question.explanation %>
  </p>

  <p>
    <strong>Section:</strong>
    <%= survey_question.section %>
  </p>

</div>
