<footer class="row row-cols-1 row-cols-sm-2 row-cols-md-5 py-5 my-5 border-top">
  <div class="col mb-3">
    <a href="https://education.tamu.edu/" class="d-flex align-items-center mb-3 link-body-emphasis text-decoration-none">
      <!-- <svg class="bi me-2" width="40" height="32">
                <use xlink:href="#bootstrap" />
              </svg> -->
      School of Education & Human Development
    </a>
    <p class="text-body-secondary">&copy; 2024</p>
  </div>
  <div class="col mb-3">
  </div>
  
</footer>