<header>
  <div>
    <div>
      <span></span>
      <a href="https://elrc.tamu.edu/">
        <img src="https://elrc.tamu.edu/wp-content/uploads/2022/10/Maroon-Horizontal.png" width="998" height="234" alt="Education Leadership Research Center" id="logo" data-height-percentage="54" data-actual-width="941" data-actual-height="220.625">
      </a>
    </div>
    <div>
      <nav>
        <ul>
          <li><a href="https://elrc.tamu.edu/" aria-current="page">Home</a></li>
          <li><a href="http://elrc.tamu.edu/professional-development">About</a></li>
          <li><a href="https://elrc.tamu.edu/our-work/">Survey</a></li>
          <li><a href="https://elrc.tamu.edu/journals/">Profile</a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>